$palette-grey: (
    100: #F7F7F7,
    200: #EDEDED,
    300: #E2E2E2,
    400: #CBCBCB,
    500: #A0A0A0,
    600: #717171,
    700: #4A4A4A,
    800: #2D2D2D,
    900: #1A1A1A,
);

$palette-midnight: (
    100: #F7FAFC,
    200: #EDF2F7,
    300: #E2E8F0,
    400: #CBD5E0,
    500: #A0AEC0,
    600: #718096,
    700: #4A5568,
    800: #2D3748,
    900: #1A202C,
);

$palette-red: (
    100: #FFF5F5,
    200: #FED7D7,
    300: #FEB2B2,
    400: #FC8181,
    500: #F56565,
    600: #E53E3E,
    700: #C53030,
    800: #9B2C2C,
    900: #742A2A,
);